<h1>Accueil</h1>
<h2>Bienvenue sur The Gossip Project</h2>
<body>
  <h5>LIste des gossips :</h5>  
  <div class="container">
    <div class="row row-cols-4" style="color: black">
      <% Event.all.each do |event| %>
      <% author = event.user %>
      <% link_gossip = "/gossip/"+event.id.to_s%>
      <% #link_author = "/user/"+author.id.to_s%>
      <div class ="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title"><%= link_to "#{event.title}",link_gossip%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=event.updated_at%></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%=event.location%></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%=event.price%>€</h6>
          <p class="card-text"><%=event.content%></p>
        </div>
      </div>
      </div>
  <% end %>
  </div> 
 </body>